header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f0f0f0;
    box-shadow: 0 0 8px 0 grey;
}

.nav-list li {
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
}

.nav-list .news-active, 
.user-profile-active {
    font-weight: bold;
}

@media (max-width: 280px) {
    header {
        height: 25px;
    }

    a {
        font-size: 10px;
    }
}